
@import url('https://fonts.googleapis.com/css2?family=Creepster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lemon&display=swap');

@font-face{
    font-family: 'NITEMARE';
    src: url(fonts/NITEMARE.TTF) format('truetype');
} 

h1, h2, h3 {
    font-family: 'NITEMARE', 'cursive'
}


:root {
    --laranja-claro: #e25300; 

 }

body {
    background: linear-gradient(to bottom, #010013, #3f0249);
    font-size: 1.5rem;
    font-family: 'Arial, sans-serif';
    color: #F1EDEF;
}
.img-jack {
    border-radius: 50px;
}

header {
    background-image: url(img/titlepng.png);
    background-repeat: no-repeat;
    background-position: center;
}


section {
    padding-bottom: 5rem;
}


.nav-link {
    color: #ec7403;
    font-weight: 600;
}

.inicio-fundo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1a0125a8;
    /* Substitua pelo caminho da sua imagem */
    background-size: cover;
    background-position: right;
    border-radius: 80px;
    width: 100%;
    height: 606px;
    padding: 40px;
    margin: 0 auto;
}

/* posicionamento para a imagem à direita */
.img-inicio {
    position: absolute;
    right: 0;
    top: 18rem;
    width: 45rem;
    height: auto;
}


.esquerda-conteudo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
}


.botao-inicio {
    background-color: var(--laranja-claro);
    border-radius: 30px;
    border: none;
    width: 14em;
    height: 3em;
    align-content: center;

}

.display-4 {
    text-shadow: -5px 5px var(--laranja-claro);
}


#tropicalia {
    position: relative;
    padding-top: 5rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
    background-color: #1a0125a8;
    background-size: 180px 180px;
    border-radius: 50px;
}

#tropicalia .container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 1;
    /* Garante que o conteúdo fica acima das imagens do background */
}


h2 {
    font-family: 'Lemon', serif;
    font-size: 2.5em;
    font-style: normal;
    color: var(--laranja-claro);
}

#galeria {
    background-color: #1a0125a8;
    border-radius: 50px;
}

.fundo-galeria {
    background: url('img/flor-bottom-direita.png') bottom right no-repeat;
    background-size: 180px 180px;
}

#contato {
    background-image: url('img/4965007.jpg');
    background-size: cover;
    padding: 4rem 0;
    /* Espaçamento interno para a seção de contato */

}

.formulario {
    background-color: #1a0125a8;
    padding: 2rem;
    /* Espaçamento interno dentro do formulário */
    border-radius: 50px;
    /* Borda arredondada para o formulário */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    /* Sombra suave para destacar o formulário */
    font-weight: bold;
}

.formulario button {
    background-color: #f34f03e0;
    border: none;
    font-weight: bold;
}

.form-control {
    background-color: #F1EDEF;
}
.menu-acessibilidade{
    position: fixed;
    top:2rem;
    right:20px;
    z-index: 1000;
}
.rotacao-botao{
    transform: rotate(-90deg);
    transform-origin: right center;
}

.opcoes-acessibilidade{
    margin-top:10px;
    display: flex;
    flex-direction: column;
}

.opcoes-acessibilidade button{
    margin-bottom: 5px;
}
.apresenta-lista{
    display: none;
}